.main{
    margin-top: 100px;
    .submit{
        width: 1200px;
        height: 300px;
        margin: 0 auto;
        border: 1px solid;

       
        .right{
            height: 300px;
            width: 400px;
            border: 1px solid;
            float: right;
        padding: 10px 10px;
            
             box-sizing: border-box;
            .r_top{
                height: 200px;
                border-bottom:2px solid #bbb ;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .r_bottom{
                height: 100px;
                display:flex;
                justify-content: center;
                align-items: center;
                >a{
                   
                    display: block;
                    width: 200px;
                    height: 30px;
                    color: white;
                    text-align: center;
                    line-height: 30px;
                    text-decoration: none;
                    background-color: #643e28;
                }
            }
        }
    }
    
    .car_nav{
        margin: 0 auto;
        width: 1200px;
        height: 45px;
        border: 1px solid #bbb;
        line-height: 45px;
        color: #643e28;
        background-color: #eae0d4;
        display: flex;
        justify-content: space-around;
        li{
            list-style: none;
        }
    }
    .car_body{

        width: 1200px;
        margin: 0 auto;
        border: 1px solid #aaa;
padding: 0 30px;
           box-sizing: border-box;
        min-height: 100px;
         margin-top: 30px;
       position: relative;
       margin-bottom: 100px;
       
       
        .car_ul_car{
              display: flex;
           justify-content: space-around;
           
            border-bottom: 2px solid #bbb;
        li{
                color:#643e28;
           
            text-align: center;
            width: 100px;
          line-height: 150px;
            list-style: none;
            a{
                text-decoration: none;
                color:#643e28;
                
            }
         }
        
        }
    }
}
