html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, div { margin:0; padding:0; }
*{margin: 0;padding: 0;}
.row{  
        
    width: 1280px;
    font-size: 12px;
    color: #472516; 
    >h1{
        margin: 0;
        padding: 0;
        span{
            display: none;
        }
        a{
            display: block;
            width: 187px;
            height: 80px;
            background: url(../img/logo.png) no-repeat center center;
            background-size: 80%;            
        }
    }
   .col-md-3:nth-of-type(1){
        width: 500px;
        height: 80px;
        display: flex;
        justify-content: space-around;
        line-height: 80px;
        margin-bottom: -10px;    
      li{
          float: left;
          list-style: none;    
          a{
              color: #472516;
              font-size: 12px;              
          }  
          a:hover{
              text-decoration: none;
              color: #bb9772;             
          }
      }    
    }
    .col-md-3:nth-of-type(2){
        width: 350px;
        line-height: 80px;
        margin-bottom: -10px;        
        height: 80px;
        display: flex;
        justify-content: space-around;
        float: right;
            li{
                list-style: none;

                a{
                      font-size: 12px;
                    
                    color: #472516;
                }
                a:hover{
                      text-decoration: none;
                      color: #bb9772;
                  }
            }
        }    
}



.footBox{
    width: 1280px;
    height: 380px;
    background-color: #333333;
    padding: 0 255px;  
    padding-top: 50px;  
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;  
    .footer-logo{
    display: block;       
    width: 96px;
    height: 36px;
    }
   .footer-nav{
       width: 120%;
       display: flex;
       justify-content: space-around;
       
       >li{

          a{
              margin: 0 50px;
              color: white;
              text-decoration: none;
              font-size: 12px;

          }           
       }
     span{
         margin-top: -3px;
         color: #fff;
     }
   }
    .footer-img{
        display: flex;

        
        >li{
            list-style: none;
            width: 50px;
            height: 50px;
            border-radius:50%;
            background-color: #494949;
            margin: 0 25px;

            
        }
        >li:nth-child(1){
            a{
                display: block;
                width: 50px;
                height: 50px;
                background: url(../img/footer-weibo.png) no-repeat center center;
                background-size: 30px 30px;
            }
        }
         >li:nth-child(2){

            a{
                display: block;
                width: 50px;
                height: 50px;
                background: url(../img/footericon-weixinpng.png) no-repeat center center;
                background-size: 30px 30px;
               
            }
        }
         
         >li:nth-child(3){
             position: relative;            

                
             
            a{
                display: block;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                   color: white;
                   text-decoration: none;
                font-size: 18px;

                
            }          
          >img{
             width: 150px;
             height: 151px;
             position: absolute;
             top: -50px;
             left: 70px;
            display: none;


             }         
          }
          
          
          
        }
    
    .foot-txt{
        display: flex;
        flex-flow: column;
        align-items: center;
                width: 1280px;
       >li{
           list-style: none;
           color: #9a9a9a;
       }
       >li:nth-child(1){
           font-weight: 600;
       }
    }
    hr{
        height: 5px;
        color: white;
        width: 1280%;
        margin-bottom: -1px;
    }
    p{
        font-size: 12px;
        color: #9a9a9a;
    }
   
}


