.main{
    margin-top: 100px;
   
    
    .list_top_nav{
        width: 1262px;
         border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        margin: 0 20px;
        .change{
            color: #d5bfa7;
        }
        ul{
          display: flex;
        margin-top: 10px;
          
          li{
              list-style: none;
              margin: 0 15px;
              >a{
                  color: #684029;
                  font-size: 12px;
                  text-decoration: none;
              }
             
              a:hover{
                  color: #d5bfa7;
              }
          }
          li:nth-child(1){
              margin-right: 40px;
              
                  color: #d3b980;
                  font-size: 14px;
              
          }
        }
       
        
    }
    .listcontainer{
        display: flex;
        justify-content: flex-start;
        flex-wrap:wrap ;
        padding: 0 80px;
       
        .list_con{
            margin: 30px 10px;
            text-align: center;
            li{
                list-style: none;
            }
            .list_more{
                color: #616161;
                border: 1px solid #bb9772;
                display: inline-block;
                border-radius:5px ;
                font-size: 12px;
                margin: 5px 0;
                padding: 0 3px;
            }
            .list_price{
                color: #bb9772;
            }
            .list_title{
                color: #643e28;
            }
            .list_title:hover{
                color: #d5bfa7;
            }
           .list_img{
                text-align: center;
                cursor: pointer;
                    img{
                       
                        width: 200px;
                        height: 200px;

                    }
           }
           .list_btn{
               >a{
                   text-decoration: none;
                   line-height: 28px;
                   display: block;
                   margin-top: 10px;
                   width: 100px;
                   height: 30px;
                   margin-left: 150px;
                   border: 1px solid white;
                   background-color: #643e28;
                   color: white;
                   font-size: 12px;
               }
           }
        }
    }
    
    
}
