
.con-login{
    margin-top: 140px;

        .row-login{ width: 100%;
       min-height: 600px;
            background: url("../img/register_and_login_background_img.jpg") no-repeat 40% 40%;
        }

}