.main { margin-top: 100px; }
.main .car_nav { margin: 0 auto; width: 1200px; height: 45px; border: 1px solid #bbb; line-height: 45px; color: #643e28; background-color: #eae0d4; display: flex; justify-content: space-around; }
.main .car_nav li { list-style: none; }
.main .car_body { width: 1200px; margin: 0 auto; border: 1px solid #aaa; padding: 0 30px; box-sizing: border-box; min-height: 100px; margin-top: 30px; position: relative; margin-bottom: 100px; }
.main .car_body .car_ul_car { display: flex; justify-content: space-around; border-bottom: 2px solid #bbb; }
.main .car_body .car_ul_car li { color: #643e28; text-align: center; width: 100px; line-height: 150px; list-style: none; }
.main .car_body .car_ul_car li a { text-decoration: none; color: #643e28; }
